body, html {
    background-color: #f4f4f4;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: space-between; /* Distribute items evenly along the main axis */
    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container-title {
    display: flex;
    width: 80vw;
    margin: 0 auto;
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
    height: 10px; /* Allow the container to adjust its height based on content */
    text-align: center;
    position: sticky;
    top: 27%;
}

#title{
    font-size: 23px;
}

.container-text {
    display: flex;
    width: 75vw;
    margin: 0 auto;
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
    height: 10px; /* Allow the container to adjust its height based on content */
    text-align: center;
    position: sticky;
    top: 45%;
}

#text {
    font-size: 19px;
}


.button-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100%; /* Adjust this value as needed to move the button further down */
    
}

.button {
    padding: 20px 40px;
    background-color: #2b2b2b;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 19px;
    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    overflow: auto;
}

#container-image > img {
    max-width: calc(100% - 40px); /* Subtracting 20px (10px margin on each side) from the maximum width */
    max-height: calc(100% - 40px); /* Subtracting 20px (10px margin on each side) from the maximum height */
    width: auto;
    height: auto;
    border-radius: 10px;
    margin: 20px; /* Adding margin of 10px */
}


